#tree{
    text-decoration: underline;
    text-align: center;
}
#story{
    display: none;
}
#un{
   
    text-align: right;
}
.class{
    font-size: 20px;
}
#heading{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
#story{
    box-shadow: 0 2px 3px #b99566;
    background-color: rgb(224, 201, 166);
    font-family: monospace;
    padding: 50px;

}
#spoon{
    margin-left: 20px;
}
#sincere{
    text-align: right;
}
#great{
    box-shadow: 0 2px 3px aquamarine;
    background-color: darkslategray;
    text-align: center;
    margin-left: 400px;
    height: 250px;
    width: 20%;
    font-size: 25px;
    font-family: cursive;
}
#candid{
    display: none;
}
#greta{
    box-shadow: 0 2px 3px aquamarine;
    background-color: darkslategray;
    text-align: center;
    margin-left: 400px;
    height: 250px;
    width: 20%;
    font-size: 25px;
    font-family: cursive;
    margin-top: 200px;
}
.form-control{
    width: 15%;
}